<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <link rel="stylesheet" href="style.css">


</head>
<body>


<div id="photo-wrapper">

    <div id="left-side"></div>
    <div id="right-side"></div>

    <div class="banner_one"></div>
    <p class="first-para">Select type of location</p>

    <div id="button-wrapper">
        <button onclick="location.href = '/restaurant'">Restaurant</button>
        <button onclick="location.href = '/fastfood'">Fast food</button>
    </div>

    <footer></footer>

</div>


<script>
    // document.getElementsByTagName("button").onclick = function () {
    //     location.href = "index2.html";
    // };
</script>

</body>
</html>